body {
    background-color: black;
    font-family: roboto;
}

.post {
    background-color: white;
    width: 540px;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
}

.post-header {
    display: flex;
    padding: 15px;
    align-items: center;
}

.post-header div {
    padding: 5px;
}

.post-body {
    padding: 10px;
    margin: 10px;
}

.post-icons {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 15px 30px 0px;
}

.last {
    margin-left: auto;
}